<!doctype html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Maria Kilsved</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="../fonts/font-awesome/css/font-awesome.min.css">
</head>

<body>

    <div>
        <div class="nav-list-wrapper">
            <ul class="nav-list">
                <li><a href="../index.html" class="nav-link">Intro</a></li>
                <li><a href="portfolio.html" class="nav-link">Portfolio</a></li>
                <li><a href="#" class="active nav-link">CV</a></li>
                <li><a href="om-lia.html" class="nav-link">Om LIA</a></li>
            </ul>
        </div>
        <ul class="nav-menu">
            <li class="page_item"><a href="../index.html">Intro</a></li>
            <li class="page_item"><a href="portfolio.html">Portfolio</a></li>
            <li class="page_item"><a href="#">CV</a></li>
            <li class="page_item"><a href="om-lia.html">Om LIA</a></li>
        </ul>
    </div>

    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label for="nav-trigger"><span class="fa fa-bars"></span></label>

    <div class="site-wrap">
        <div class="container">
            <section>
            <p><b>IT</b></p>
            <p>Frontendutveckling (Nackademin). Utbildningen påbörjades HT 2016 och kommer avslutas VT 2018.</p>
            <p>Programmering A, KomVux (Hermods), VT 2016.</p><br/>
            <p><b>Universitet</b></p>
            <p>Blandade universitetsstudier (Stockholms Universitet), totalt 187.5 poäng: Sociologi, Statistik, Nationalekonomi, Religionshistoria. 2009-2015.</p><br/>
            <p><b>Gymnasium</b></p>
            <p>Samhällsvetenskapligt program (Södra Latin), 2006-2009.</p>
            </section>
        </div>
    </div>
</body>
</html>
