<!doctype html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Maria Kilsved</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="../fonts/font-awesome/css/font-awesome.min.css">
</head>

<body>

    <div>
        <div class="nav-list-wrapper">
            <ul class="nav-list">
                <li><a href="../index.html" class="nav-link">Intro</a></li>
                <li><a href="portfolio.html" class="nav-link">Portfolio</a></li>
                <li><a href="cv.html" class="nav-link">CV</a></li>
                <li><a href="#" class="active nav-link">Om LIA</a></li>
            </ul>
        </div>
        <ul class="nav-menu">
            <li class="page_item"><a href="../index.html">Intro</a></li>
            <li class="page_item"><a href="portfolio.html">Portfolio</a></li>
            <li class="page_item"><a href="cv.html">CV</a></li>
            <li class="page_item"><a href="#">Om LIA</a></li>
        </ul>
    </div>

    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label for="nav-trigger"><span class="fa fa-bars"></span></label>

    <div class="site-wrap">
        <div class="container">
            <section>
                <p>LIA står för <b>L</b>ärande <b>I</b> <b>A</b>rbete och är ett slags praktik. Man läser det som en kurs och därför är det lite mer strukturerat än vanlig praktik. Läs mer om vad min skola (Nackademin) säger om LIA <b><a href="http://31.211.200.228/cplans/welcome_LIA-handledare.pdf">här</a></b> och vad Yrkeshögskolan säger om LIA <b><a href="https://www.yrkeshogskolan.se/Om-yrkeshogskolan/Larande-i-arbete/ 
                    ">här.</a></b></p>
                <p>Den första LIA-perioden kommer att vara vecka 40-51 2017, alltså 2:a oktober till 22:a december.</p>
            </section>
        </div>
    </div>
</body>
</html>
