<!doctype html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Maria Kilsved</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="../fonts/font-awesome/css/font-awesome.min.css">
</head>

<body>

    <div>
        <div class="nav-list-wrapper">
            <ul class="nav-list">
                <li><a href="../index.html" class="nav-link">Intro</a></li>
                <li><a href="#" class="active nav-link">Portfolio</a></li>
                <li><a href="cv.html" class="nav-link">CV</a></li>
                <li><a href="om-lia.html" class="nav-link">Om LIA</a></li>
            </ul>
        </div>
        <ul class="nav-menu">
            <li class="page_item"><a href="../index.html">Intro</a></li>
            <li class="page_item"><a href="#">Portfolio</a></li>
            <li class="page_item"><a href="cv.html">CV</a></li>
            <li class="page_item"><a href="om-lia.html">Om LIA</a></li>
        </ul>
    </div>

    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label for="nav-trigger"><span class="fa fa-bars"></span></label>

    <div class="site-wrap">
        <div class="container">
            <section>
               <p><b>Alla mina GitHub repositories hittar du <a href="https://github.com/Loosergirl?tab=repositories">här.</a></b></p>
                <p>Hittills har jag bara sparat skolarbeten och anteckningar på GitHub. <a href="https://loosergirl.github.io/plantify/">Plantify</a> var den första kompletta webbsidan jag kodade. <a href="https://danteuh.github.io/asap-development/">asap-development</a> och <a href="https://danteuh.github.io/asap-development-framework/">asap-development-framework</a> var en gruppuppgift där jag var contributor. <a href="https://loosergirl.github.io/movie_database/">movie-database</a> var en fejkad databas. Det är en riktigt ful sida... Med ajax_assignment fick jag däremot göra riktiga anrop till en databas. Tyvärr låter inte GitHub informationen överföras av säkerhetsskäl så man måste flytta på ajax_assignment om sidan ska fungera.</p>
               <p>Efter det här övergick vi till att hålla på med PHP, CMS och MySQL. En del av det ligger på min GitHub men det går inte att besöka de sidorna som de är utan en Wordpress installation.</p>
               <p><b>Programmeringskunskap</b></p>
               <ul>
                   <li>HTML</li>
                   <li>JavaScript</li>
                   <li>CSS och SASS</li>
                   <li>JSON och XML</li>
                   <li>PHP och MySQL</li>
                   <li>React</li>
                   <li>Firebase</li>
               </ul>
               <p><b>Extra</b></p>
               <ul>
                   <li>GitHub</li>
                   <li>Node ()</li>
                   <li>Photoshop</li>
                   <li>Illustrator</li>
                   <li>Ramverk</li>
               </ul>
            </section>
        </div>
    </div>
</body>
</html>